.addevent {
    padding-top: 36px;


    &__notification
    {
      .addevent__listtext
      {
        display: flex;
        align-items: center;
        max-width: 55%;
        flex-basis: 55%;
       
        span 
        {
          margin-bottom: 0px;
          line-height: 15px;
        }
        p span 
        {
          margin-right: 5px;
        }
      }


      .addevent__time
      {
      font-style: italic;
      font-weight: 100;
      font-size: 12px;
      line-height: 13px;
      text-align: right;
      color: #3C3E56;
      position: absolute;
      right: 15px;
      top: 22px;
      }

      .addevent__item  
      {
        flex-wrap: wrap;
        justify-content: flex-start;
      }

      .addevent__listbutton  
      {
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        padding-left: 54px;
        button
        {
          font-weight: 100 !important;
        }
        .missus  
        {
          border: 1px solid #EEEEEE;
          border-radius: 6px !important; 
          margin-right: 13px;
          color: #706D6D;
        }
      }
    }



    &__input {
      padding: 0px 24px;
      textarea {
        box-shadow: unset;
  
        &:focus {
          box-shadow: unset;
        }
      }
    }
    &__inputtitle {
      width: 100%;
  
      textarea {
        font-style: italic;
        font-weight: 100;
        font-size: 32px;
        line-height: 35px;
        &::placeholder {
          color: #a4b4cb !important;
        }
      }
  
      > div {
        width: 100%;
        &:before,
        &:after {
          border-bottom: unset !important;
          box-shadow: unset !important;
        }
      }
    }
    &__layoutinputdes {
      display: flex;
      align-items: center;
    }
  
    &__inputdes {
      width: 100%;
      > div {
        width: 100%;
        &:before,
        &:after {
          border-bottom: unset;
        }
      }
  
      textarea {
        font-style: italic;
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
        margin-left: 5px;
  
        color: #747688;
      }
    }
    &__layouttextbutton {
      padding-left: 24px;
      padding-right: 24px;
      button {
        background: #5669ff;
        border-radius: 100px;
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
        padding: 10px 28px;
      }
    }
  
    &__menu {
      .MuiDrawer-paper {
        background-color: #fff;
        width: 80%;
      }
    }
  
    &__menuitem {
      margin-bottom: 0px;
  
      a {
        color: rgba(0, 0, 0, 1);
        font-size: 16px;
        font-style: italic;
        font-weight: 100;
        padding-left: 8px;
      }
  
      svg {
        margin-right: 16px;
        font-size: 20px;
      }
    }
  
    &__changeimg {
      position: relative;
      padding-left: 24px;
      padding-right: 24px;
      input[type="file"] {
        display: none;
      }
  
      img {
        width: 100%;
        border-radius: 14px;
      }
    }
  
    &__inputchangeimg {
      position: absolute;
      top: 8px;
      right: 35px;
  
      background: #ffffff;
      opacity: 0.5;
      backdrop-filter: blur(4px);
  
      border-radius: 14px;
      label:nth-child(2) {
        padding-left: 0px !important;
      }
      label:nth-child(1) {
        padding-left: 15px;
      }
  
      label,
      label:hover,
      svg {
        border: unset;
        color: #5669ff;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 11px;
      }
      svg {
        font-size: 15px;
      }
    }
  
    &__title {
      padding: 0px 24px;
      margin-top: 24px;
      h2 {
        font-style: italic;
        font-weight: 100;
        font-size: 35px;
        line-height: 38px;
  
        margin-bottom: 33px;
  
        color: #120d26;
      }
  
      p {
        font-style: italic;
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
  
        color: #3c3e56;
      }
    }
  
    &__listitem {
      margin-top: 9px !important;
      &--invite {
        .invite {
          background: #5669ff;
          color: white;
        }
  
        .missus {
          background-color: white;
        }
  
        img {
          width: 45px;
          height: 45px;
        }
        button {
          span {
            margin-bottom: 0px;
            margin-right: 0px;
            font-weight: 100;
          }
          border-radius: 8px !important;
          border: 1px solid #5669ff;
          font-size: 14px !important;
          text-transform: inherit !important;
          width: 85px;
          padding: 6px 6px;
          display: flex;
          align-items: center;
          line-height: 24px !important;
          font-style: italic;
          font-weight: 100;
        }
      }

      &--details
      {
        img 
        {
          width: 44px;
          height: 44px;
        }
        .follow
        {
          border-radius: 7px;
          font-weight: 100;
          font-size: 12px;
          font-style: italic;
          text-transform: inherit;
          padding: 8px;
        }
        .followblue 
        {
          color: white;background: #5669FF;
        }
        .unfollow 
        {
          background: rgba(240, 99, 90, 0.12);color: #F0635A;
        }
      }
    }
  
    &__listavatar {
      display: flex;
      align-items: center;
  
      button {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
      }
      svg {
        margin-right: 10px;
      }
    }
  
    &__imgavatar,
    .MuiAvatar-colorDefault {
      width: 36px !important;
      height: 36px !important;
    }
    .MuiAvatar-colorDefault {
      background: #5e6fff;
      border: 1px solid white;
    }
  
    &__item {
      &--group
      {
        justify-content: space-between !important;
        button 
        {
          width: 100px;
        }
      }
      &--block 
      {
        .addevent__imgavatar,.MuiAvatar-colorDefault {
          margin: 0px 3px;
          border: initial !important;
      }

        button 
        {
          width: auto;
          border-radius: 7px!important;
          font-size: 12px !important;
          font-weight: 100 !important;
          font-style: italic;
          padding: 8px 5px; 
          text-transform: initial !important;
        }
      }
      justify-content: space-between;    padding-left: 24px;
      padding-right: 24px;
      .MuiListItemText-multiline {
        margin: 0px;
      }
  
      p {
        font-style: italic;
        font-weight: 100;
        font-size: 13px;
        line-height: 14px;
        color: #747688;
      }
      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
        color: #120d26;
      }
      button {
        background: #eef0ff;
        box-shadow: 0px 8px 20px rgba(74, 210, 228, 0.0818127);
        border-radius: 14px;
        color: #5669ff;
        font-weight: 500;
        font-size: 10px;
        line-height: 11px;
        text-transform: uppercase;
        span {
          color: #5669ff;
        }
      }
    }
  
    &__formsearch {
      box-shadow: unset !important;
      padding: 0px 24px;
    }
  
    &__inputleft {
      input {
        box-shadow: unset;
        padding-left: 30px; &:focus {
            box-shadow: unset;
          }
      }
      max-width: 100%;
      flex-basis: 100%;
      border: 1px solid #eeeeee;
      box-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
      background: white;
      display: flex;
      align-items: center;
      border-radius: 100px;
      svg {
        font-size: 30px;
        color: #5669ff;
      }
    }
  
    &__inputsearch {
      width: 100%;
      box-shadow: unset;
      padding: 5px 5px;
      &:focus {
        box-shadow: unset;
      }
    }

    &--details
    {
      padding-top: 0px !important;
      
    }
    &__listimg
    {
      display: flex;
      align-items: center;
      .event__avatar  
      {
        width: 34px !important;
        height: 34px !important;
      }
      .event__number 
      {
      
        span 
        {
          margin-bottom: 0px;
          font-size: 15px;
line-height: 16px;
color: #3F38DD;
        }
      }
      button
      {
        background: #5669FF;
        color: white;
        font-style: italic;
        font-weight: 100;
        border-radius: 7px;
        text-transform: inherit;
        font-size: 12px;

      }
    }
    &__note 
    {
      padding: 0px 24px;
      h3 
      {
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        opacity: 0.84;
        color: #120D26;
      }
      p 
      {
        font-style: italic;
font-weight: 100;
font-size: 16px;
line-height: 28px;
color: #120D26;
      }
    }

    &__bannereventdetails
    {
      position: relative;
       .addevent
       {
        &__listimg
        {
          position: absolute;
          bottom: -16px;
          background: white;
          border-radius: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 89%;
          padding: 13px 14px;
          box-shadow: 0px 20px 20px rgba(90, 90, 90, 0.1);
        }
&__listicon
{
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

&__itemicon
{
  p 
  {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}


        &__layouttextbutton 
        {
          position: absolute;
          z-index: 99;
        
          width: 100%;
          top: 15px; 
          .layouttextbutton__text  
          {
            color: white;
            svg 
            {
              margin-right: 10px;
            }
          }


    

          .layouttextbutton__button 
          {
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(8.15485px);
            
            padding: 5px;
            border-radius: 10px;

            svg {
              color: white;
          }
          }

        }
        &__changeimg 
        {
          padding: 0px !important;
        }
       }
    }

    &--eventpreview
    {
      position: relative;
    }

    &__bannereventpreview
    {
      position: absolute;
      top:250px;
      color:white;
      padding: 0px 24px;

      .addevent__imgavatar ,.MuiAvatar-colorDefault
      {
        margin: 0px 8px;
    border: unset !important;
      }

      span,p,h1 
      {
        color:white;
      }
span 
{
  font-weight: 500;
font-size: 16px;
line-height: 34px;
}
h1
{
  font-style: normal;
font-weight: 700;
font-size: 50px;
}
p 
{
  font-weight: 500;
font-size: 16px;
line-height: 34px;
}


    }
  }
  