.home {
  border-radius: 48px 48px;
}

.homepage 
{
  background-color: #f9f9fb;
  padding-bottom: 70px !important;
  // @media(max-width:845px)
  // {
  //   height: 100vh;
  // }
}

.layouttextbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 17px;

  &__text {
    color: black;
    font-size: 18px;
    a 
    {
      margin-left: 5px;
      color: black;
    }
  }

  &__button {
    a {
      display: flex;
      align-items: center;
    }

    em, svg {
      color: rgba(116, 118, 136, 1);
    }
    svg 
    {
      font-size: 25px;
    }

    em {
      font-size: 14px;
    }

  }

}

.event {
  padding-left: 24px;
  padding-top: 20px;
  background-color: #f9f9fb;

  &__verticalhome
  {
     padding-top: 0px !important;
     .event__blog  
     {
      padding-top: 10px;
     }
  }

  &__title {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 10px;
    margin-bottom: -45px;
    color: #eb5757;
    font-size: 18px;
    position: absolute;
    width: 100%;
  }

  &__time {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    text-align: center;
  }

  &__date
  {
    font-size: 20px;
  }

  &__month
  {
    font-size: 12px;
  }

  &__avatar
  {
    width: 22px !important;
    height: 22px !important;
  }

  &__inconbox {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 5px;

    svg {
      font-size: 20px;
    }

  }

  &__listimg {
   

    li {
      margin-bottom: 0px;
    }

    img {
      border-radius: 100%;
    }

  }

  .swiper-slide {
    width: 70%;
    padding: 10px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 8px 30px rgba(80, 85, 136, 0.06);
    .MuiPaper-root {
      position: relative;
      box-shadow: unset;
    }

  }

  &__img {
    border-radius: 18px;
    background-size: 100%;

    // @media (max-width:598px) {
    //   height: 131px !important;
    // }

  }

  &__number {
    display: flex;
    align-items: center;

    span {
      color: #3f38dd;
      font-size: 12px;
      padding-left: 5px;
      font-weight: 500;
    }

  }

  &__location {
    display: flex;
    align-items: center;
    margin-top:10px;

    span, em {
      font-size: 13px !important;
    }

    color: #716e90;
  }

  &__card {
    box-shadow: unset;

    .MuiTypography-h3 {
      color:black;
      font-size: 18px;
      font-weight: 500;
      
    margin-bottom: 0px; 
    }

  }

}

.listbutton {
  padding-left: 24px;
  background-color: #f9f9fb;
  position: relative;
  height: 20px;

  > .swiper {
    background: transparent;
    position: absolute;
    width: 100%;
    top: -20px;
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .listbutton__itemslide {
    width: 27%;
    padding: 8px 10px;
    border-radius: 21px;
    cursor: pointer;

    &:nth-child(n) {
      background-color: rgba(240, 99, 90, 1);
    }

    &:nth-child(2n) {
      background-color: rgba(245, 151, 98, 1);
    }

    &:nth-child(3n) {
      background-color: rgba(41, 214, 151, 1);
    }

    &:nth-child(4n) {
      background-color: rgba(70, 205, 251, 1);
    }

    em {
      font-size: 15px;
      margin-left: 8px;
      font-weight: 100;
    }

    .MuiPaper-root {
      position: relative;
      box-shadow: unset;
    }

  }

}

.banner {
  background-color: #f9f9fb;
  padding: 29px 24px 0px 24px;

  .MuiTypography-h3 {
    color: black;
    font-size: 18px;
  }

  &__des {
    color: rgb(72, 77, 112);
    font-size: 13px;
    
    max-width: 150px;

    em 
    {
      font-size: 13px;
    }
    line-height: 1.3;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &__card {
    padding-left: 15px;
    max-width: 80%;
    flex-basis: 80%;

    button {
    box-shadow: none;
    font-weight: 500;
    background: rgb(0, 248, 255);
    line-height: 1;
    padding-top: 9px;
    font-size: 12px;
    }

  }

  &__img {
    flex: 1;


      img {
        width: 215px;
        position: absolute;
        bottom: -27px;
        right: -18px;
      }

    

  }

  &__innerbanner {
    background: #d6feff;
    border-radius: 12px;
    position: relative;
    display: flex;
    height: 130px;
    overflow: hidden;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .layouttextbutton {
    padding-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  }

}

.footerhome {
  position: relative;

  &__circle {
    background: rgb(86, 105, 255);
    position: fixed;
    color: white;
    left: 50%;
    cursor: pointer;
    z-index: 99999;
    transform: translate(-50%, 0);
    top: auto;
    bottom: 48px;
    width: 30px;
    display: flex;
    height: 30px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      display: flex;
      align-items: center;
    }

    svg {
      font-size: 20px;
    }

  }

  &__menu {
    background-color: #f9f9fb;
    box-shadow: 0px -3px 8px rgba(157, 178, 214, 0.13);
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
    padding: 20px 10px 20px 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;


    display: flex;
    justify-content: center;
    @media(min-width:598px)
    {
      transform: translateX(-50%);
      width: 376px !important;
      left: 50%;
    }

  }

  &__item {
    transition: unset !important;
    padding-top: 0px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 25%;
    max-width: 25%;
    &:hover,&:active,&:focus
    {
      a,svg ,p,path
      {
        color:rgb(86, 105, 255);
        fill:rgb(86, 105, 255);
      }
    }
    a:hover,svg:hover 
    {
      color:rgb(86, 105, 255);
    }
    > a 
    {
      font-family: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      border-radius: 0;
      cursor: pointer;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      -moz-appearance: none;
      -webkit-appearance: none;
      text-decoration: none;
      padding: 0px 12px;
      min-width: 80px;
      max-width: 168px;
    }
    &.Mui-selected {
      justify-content: center;
      p 
      {
        color: rgb(86, 105, 255);
      }
    }

    &:nth-child(1), &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(3), &:nth-child(4) {
      text-align: right;
    }

    svg {
      margin: 0 auto;
      font-size: 25px !important;
      min-height: 24px;
      margin-bottom: 5px;
      color: #DADADA;
      path 
      {
        fill: #DADADA;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      width: 60px;

      em {
        font-size: 13px;
        color: rgba(44, 53, 80, 1);
      }

    }

  }

  .MuiBottomNavigationAction-label {
    font-size: 12px !important;
    color: rgba(44, 53, 80, 1);
    opacity: 1;
    font-style: italic;
  }

  .Mui-selected {
     

    span,svg ,path
    {
      color: #5669FF;
      fill: #5669FF;
    }
  }

}

.header {
}