.intro {
   padding-top: 30px;

  &__sliderimg {
    text-align: center;
    overflow: unset !important;
    img {
      max-width: 76%;
      width: 100%;
      object-fit: contain;
    }

    margin-bottom: -35px;
  }

  &__box {
    width: 100%;
    height: 288px;
    margin-bottom: -15px;
    background-color: #5669ff;
    padding: 40px 40px;
    border-radius: 48px 48px 0px 0px;
    text-align: center;

    p, em {
      color: white;
    }

    p {
      font-size: 22px;
      line-height: 34px;
    }

    em {
      font-weight: 100;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.8;
    }

  }

  &__inner {
    max-width: 265px;
    margin: 0 auto;
  }

  .swiper-button-next { 
    top: auto;
  
    position: absolute;
    bottom: 0;
    z-index: 9999;
    &:after {
      content: "Tiếp";
      font-size: 18px;
      right: 16px;
      width: 90px;
      font-family: "Archivo";
    }
  }

  .swiper-next-prev  
  {
    position: absolute;
    left: 40px;
    bottom: 38px;
    width: 100px;
    .swiper-button-prev 
    {
      a 
      {
        color: #FFFFFF;

        opacity: 0.5;
        font-size: 18px;
        content:"Bỏ qua";
        font-family: "Archivo";
        min-width: 60px;
      }
     &:after 
     {
      color: white;
      font-size: 18px;
      display: none;
      // content:"Bỏ qua";
      // font-family: "Archivo";
     }
    }
  }



  &__text {
    .swiper-button-prev, .swiper-button-next {
      color: white !important;
      opacity: 1 !important;
      bottom: 3px;
      top: auto;
      width: 90px;
    }

    .swiper-button-next {
      text-align: right;
      right: 40px;
      display: block !important;
    }

    .swiper-button-prev {
      left: 40px;
      display: none;
    }

    .swiper-button-next:after {
      content: "Tiếp";
      font-size: 18px;
      right: 16px;
      width: 90px;
      font-family: "Archivo";
    }

    .swiper-button-disabled:after {
      opacity: 0.8;
    }

    .swiper-button-prev:after {
      content: "Bỏ qua";
      font-size: 18px;
      right: 16px;
      font-family: "Archivo";
    }

    .swiper-pagination-bullet {
      background-color: #7887ff;
      opacity: 1.5;
      &-active {
        background-color: white;
      }

    }

    .swiper-pagination-bullets {
      bottom: 30px;
      width: 200px;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
    }

  }

}