.notification  
{

    .layouttextbutton 
    {
        padding-left: 17px;
    }

    .layouttextbutton__text  
    {

        svg {
            margin-right: 10px;
            font-size: 20px;
        }

        font-size: 24px;
    display: flex;
    align-items: center;
    }

}

