@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "intro";
@import "map";
@import "home";
@import "menu";
@import "event";
@import "mapview";
@import "profileedit";
@import "login";
@import "selectlocation";
@import "selectinterest";
@import "addevent";

html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  color: white;
  font: inherit;
  font-family: "Archivo";
  margin: 0 auto;
}

h1 {
  font-family: "Archivo";
  color: #15d880;
  font-size: 2.5rem;
  font-weight: 100;
}

h2 {
  font-family: "Archivo";
  color: #15d880;
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  color: white;
}

.msg {
  background-color: #4f6877;
  display: block;
  padding: 20px 20px 20px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 400px;
  margin: 0 auto;
}

.product-section {
  padding: 10px 0 0 15px;
}

.btn {
  font-family: "Archivo";
  background: none;
  font-size: 1.3rem;  /* width: 213px; */
  border: 0;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}



header {
  font-family: "Archivo";


  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(88, 88, 88);
}



header > div {
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  align-items: center;
  height: 40px;
}



.primary {
  background-color: blue;
}

a:-webkit-any-link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

ul li {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

li ul {
  display: none;
  background-color: rgb(44, 44, 44);
  animation: bounceInDown 0.5s both;
}

ul li ul li {
  display: block;
  text-decoration: none;
  padding: 5px;
  white-space: nowrap;
}

li:hover ul {
  display: block;
  position: absolute;
}



a, span, div, p ,input, button{
  font-family: "Archivo";
}

/***************************/






@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

.MuiContainer-root {
  // border-radius: 48px;
  // background-color: black;
  padding-left: 0px !important;
  padding-right: 0px !important;
 
  // border: 1px solid black;

  @media(min-width:598px)
  {
    max-width: 376px !important;
  }
  max-width: 100%  !important;
  position: relative;
  overflow: hidden;
}