.selectinterest {
  padding-top: 50px;
  padding-left: 23px;
  padding-right: 20px;
  position: relative;
}
.selectinterest__title {
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 35px !important;
  color: #120d26 !important;
  margin-bottom: 27px !important;
}
.selectinterest__subtitle {
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  color: #747688 !important;
  margin-bottom: 28px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.selectinterest__titleicon {
  font-weight: 500;
  font-size: 16px !important;
  line-height: 17px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px !important;
}
.selectinterest__titleicon svg {
  margin-right: 12px !important;
}
.selectinterest__listbutton {
  height: auto !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin-bottom: 29px !important;
}
.selectinterest__listbutton button {
  background: #ffffff;
  -webkit-box-shadow: 0px 2.14512px 4.29025px rgba(173, 175, 187, 0.3);
          box-shadow: 0px 2.14512px 4.29025px rgba(173, 175, 187, 0.3);
  border-radius: 107.256px !important;
  padding: 7px 15px;
  -webkit-box-flex: initial !important;
      -ms-flex: initial !important;
          flex: initial !important;
  margin: 6px 0px;
  margin-right: 14px;
}
.selectinterest__listbutton button span:nth-child(1) {
  color: #120d26 !important;
  font-style: italic;
  font-weight: 100;
  font-size: 16.6136px !important;
  opacity: 1 !important;
}
.selectinterest__listbutton .Mui-selected {
  background: #5669ff;
}
.selectinterest__listbutton .Mui-selected span:nth-child(2) {
  display: none;
}
.selectinterest__listbutton .Mui-selected span:nth-child(1) {
  font-size: 17px;
  color: white !important;
}
.selectinterest__submit {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
}
.selectinterest__submit button {
  background: #5669FF;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
          box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding: 13px 20px;
}
.selectinterest__submit .MuiButton-endIcon {
  position: absolute;
  right: 10px;
  background: #3D56F0;
  border-radius: 100%;
  padding: 3px;
}