.home {
  border-radius: 48px 48px;
}

.layouttextbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 17px;
}
.layouttextbutton__text {
  color: black;
  font-size: 18px;
}
.layouttextbutton__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layouttextbutton__button em, .layouttextbutton__button svg {
  color: rgb(116, 118, 136);
}
.layouttextbutton__button em {
  font-size: 14px;
}

.event {
  padding-left: 30px;
  padding-top: 20px;
  background-color: #f9f9fb;
}
.event__title {
  padding-left: 0px !important;
}
.event__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: -45px;
  color: #eb5757;
  font-size: 18px;
  position: absolute;
  width: 100%;
}
.event__time {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}
.event__inconbox {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px;
}
.event__inconbox svg {
  font-size: 20px;
}
.event__listimg img {
  border-radius: 100%;
}
.event .swiper-slide {
  width: 70%;
  padding: 10px;
  background-color: white;
  border-radius: 18px;
}
.event .swiper-slide .MuiPaper-root {
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.event__img {
  border-radius: 18px;
  background-size: 100%;
}
@media (max-width: 598px) {
  .event__img {
    height: 131px !important;
  }
}
.event__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event__number span {
  color: #3f38dd;
  font-size: 12px;
  padding-left: 15px;
  font-weight: 500;
}
.event__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #716e90;
}
.event__location span, .event__location em {
  font-size: 13px !important;
}
.event__card {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.event__card .MuiTypography-h3 {
  font-size: 18px;
  font-weight: 500;
}

.listbutton {
  padding-left: 30px;
  background-color: #f9f9fb;
  position: relative;
  height: 20px;
}
.listbutton > .swiper {
  background: transparent;
  position: absolute;
  width: 100%;
  top: -20px;
}
.listbutton__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.listbutton .swiper-slide {
  width: 25%;
  padding: 8px 10px;
  border-radius: 21px;
}
.listbutton .swiper-slide:nth-child(n) {
  background-color: rgb(240, 99, 90);
}
.listbutton .swiper-slide:nth-child(2n) {
  background-color: rgb(245, 151, 98);
}
.listbutton .swiper-slide:nth-child(3n) {
  background-color: rgb(41, 214, 151);
}
.listbutton .swiper-slide:nth-child(4n) {
  background-color: rgb(70, 205, 251);
}
.listbutton .swiper-slide em {
  font-size: 15px;
  margin-left: 5px;
}
.listbutton .swiper-slide .MuiPaper-root {
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.banner {
  background-color: #f9f9fb;
  padding: 30px 30px 0px 30px;
}
.banner .MuiTypography-h3 {
  color: black;
  font-size: 18px;
}
.banner__des {
  color: rgb(72, 77, 112);
  font-size: 14px;
}
.banner__card {
  padding-left: 15px;
  max-width: 80%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.banner__card button {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background: rgb(0, 248, 255);
}
.banner__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 414px) {
  .banner__img img {
    width: 160px;
  }
}
.banner__innerbanner {
  background: #d6feff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .layouttextbutton {
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.footerhome {
  position: relative;
}
.footerhome__circle {
  background: rgb(86, 105, 255);
  position: absolute;
  color: white;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -15px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerhome__circle svg {
  font-size: 20px;
}
.footerhome__menu {
  background-color: #f9f9fb;
  -webkit-box-shadow: 0px -3px 8px rgba(157, 178, 214, 0.13);
          box-shadow: 0px -3px 8px rgba(157, 178, 214, 0.13);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 3.25rem;
  padding: 20px 30px 20px 30px;
}
.footerhome__item {
  -webkit-transition: unset !important;
  transition: unset !important;
  padding-top: 0px !important;
}
.footerhome__item.Mui-selected {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerhome__item:nth-child(1), .footerhome__item:nth-child(2) {
  text-align: left;
}
.footerhome__item:nth-child(3), .footerhome__item:nth-child(4) {
  text-align: right;
}
.footerhome__item svg {
  margin: 0 auto;
  font-size: 20px !important;
  margin-bottom: 5px;
}
.footerhome__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
}
.footerhome__item a em {
  font-size: 13px;
  color: rgb(44, 53, 80);
}
.footerhome .MuiBottomNavigationAction-label {
  font-size: 12px !important;
  color: rgb(44, 53, 80);
  opacity: 1;
}
.footerhome .Mui-selected {
  color: #1976d2;
}