.map {
  padding-top: 0px;
  position: relative;
}
.map iframe {
  border-radius: 48px 48px 0px 0px;
  margin-left: -1px;
  margin-top: -1px;
}
.map_search {
  position: absolute;
  top: 0;
  left: 0;
}
.map_search input {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}