.MuiMenuItem-gutters {
  background: transparent !important;
  font-size: 13px !important;
  padding: 0px 10px !important;
  height: 29px !important;
}

.header__top {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__top svg {
  font-size: 20px;
  color: white;
}
.header__topleft {
  max-width: 10%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.header__topcenter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.header__topcenter label {
  color: white;
  font-size: 13px !important;
  font-style: italic;
}
.header__topcenter .MuiSelect-select {
  font-size: 13px;
  color: white;
  width: 200px;
}
.header__topcenter fieldset {
  border: unset;
}
.header__topright {
  max-width: 10%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  text-align: right;
}
.header__search {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}
.header__search .line {
  border-color: rgb(121, 116, 231);
}
.header__search form {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.header__search form input {
  color: white;
}
.header__search form input::-webkit-input-placeholder {
  font-style: italic;
}
.header__search form input::-moz-placeholder {
  font-style: italic;
}
.header__search form input:-ms-input-placeholder {
  font-style: italic;
}
.header__search form input::-ms-input-placeholder {
  font-style: italic;
}
.header__search form input::placeholder {
  font-style: italic;
}
.header__search form input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.header__search .iconsearch {
  color: white;
}
.header__search .iconsearch svg {
  font-size: 20px;
}
.header__searchright {
  background: rgb(93, 86, 243);
  border-radius: 50px;
  padding: 5px 5px;
}
.header__searchright span:last-child {
  font-style: italic;
}
.header__searchleft {
  max-width: 80%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.header__home {
  width: 100%;
  height: 130px;
  background: #4A43EC;
  border-radius: 0px 0px 33px 33px;
}
.header__avatar {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding-left: 30px;
  margin-top: 45px;
}
.header__avatar img {
  border-radius: 100%;
}
.header__imgavatar {
  margin-bottom: 9px;
}
.header__menuclick span {
  display: none;
}
.header__menubottom button {
  margin-top: 30px;
  margin-left: 30px;
  background: rgba(0, 248, 255, 0.2);
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: 8px;
  color: rgb(0, 248, 255);
}
.header__name {
  font-size: 19px !important;
  font-weight: 500 !important;
}
.header__menu .MuiDrawer-paper {
  background-color: #fff;
  width: 80%;
}
.header__menuitem {
  margin-bottom: 0px;
}
.header__menuitem a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
}
.header__menuitem svg {
  margin-right: 16px;
  font-size: 20px;
}