@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.intro {
  padding-top: 75px;
}
.intro__sliderimg {
  text-align: center;
  margin-bottom: -100px;
}
.intro__sliderimg img {
  max-width: 80%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.intro__box {
  width: 100%;
  height: 288px;
  margin-bottom: -15px;
  background-color: #5669ff;
  padding: 40px 40px;
  border-radius: 48px;
  text-align: center;
}
.intro__box p, .intro__box em {
  color: white;
}
.intro__box p {
  font-size: 22px;
  line-height: 34px;
}
.intro__box em {
  font-size: 15px;
  opacity: 0.8;
}
.intro__inner {
  max-width: 251px;
  margin: 0 auto;
}
.intro__text .swiper-button-prev, .intro__text .swiper-button-next {
  color: white !important;
  opacity: 1 !important;
  bottom: 14px;
  top: auto;
  width: 90px;
}
.intro__text .swiper-button-next {
  text-align: right;
  right: 40px;
}
.intro__text .swiper-button-prev {
  left: 40px;
}
.intro__text .swiper-button-next:after {
  content: "Tiếp";
  font-size: 18px;
  right: 16px;
  width: 90px;
  font-family: "Archivo variant1", Tofu;
}
.intro__text .swiper-button-disabled:after {
  opacity: 0.8;
}
.intro__text .swiper-button-prev:after {
  content: "Bỏ qua";
  font-size: 18px;
  right: 16px;
  font-family: "Archivo variant1", Tofu;
}
.intro__text .swiper-pagination-bullet {
  background-color: #7887ff;
}
.intro__text .swiper-pagination-bullet-active {
  background-color: white;
}
.intro__text .swiper-pagination-bullets {
  bottom: 30px;
  width: 200px;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.map {
  padding-top: 0px;
  position: relative;
}
.map iframe {
  border-radius: 48px 48px 0px 0px;
  margin-left: -1px;
  margin-top: -1px;
}
.map_search {
  position: absolute;
  top: 0;
  left: 0;
}
.map_search input {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.home {
  border-radius: 48px 48px;
}

.homepage {
  background-color: #f9f9fb;
  padding-bottom: 70px !important;
}

.layouttextbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 17px;
}
.layouttextbutton__text {
  color: black;
  font-size: 18px;
}
.layouttextbutton__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layouttextbutton__button em, .layouttextbutton__button svg {
  color: rgb(116, 118, 136);
}
.layouttextbutton__button svg {
  font-size: 25px;
}
.layouttextbutton__button em {
  font-size: 14px;
}

.event {
  padding-left: 24px;
  padding-top: 20px;
  background-color: #f9f9fb;
}
.event__verticalhome {
  padding-top: 0px !important;
}
.event__verticalhome .event__blog {
  padding-top: 10px;
}
.event__title {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.event__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: -45px;
  color: #eb5757;
  font-size: 18px;
  position: absolute;
  width: 100%;
}
.event__time {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
}
.event__date {
  font-size: 20px;
}
.event__month {
  font-size: 12px;
}
.event__avatar {
  width: 22px !important;
  height: 22px !important;
}
.event__inconbox {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px;
}
.event__inconbox svg {
  font-size: 20px;
}
.event__listimg li {
  margin-bottom: 0px;
}
.event__listimg img {
  border-radius: 100%;
}
.event .swiper-slide {
  width: 70%;
  padding: 10px;
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 0px 8px 30px rgba(80, 85, 136, 0.06);
          box-shadow: 0px 8px 30px rgba(80, 85, 136, 0.06);
}
.event .swiper-slide .MuiPaper-root {
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.event__img {
  border-radius: 18px;
  background-size: 100%;
}
.event__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event__number span {
  color: #3f38dd;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 500;
}
.event__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #716e90;
}
.event__location span, .event__location em {
  font-size: 13px !important;
}
.event__card {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.event__card .MuiTypography-h3 {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}

.listbutton {
  padding-left: 24px;
  background-color: #f9f9fb;
  position: relative;
  height: 20px;
}
.listbutton > .swiper {
  background: transparent;
  position: absolute;
  width: 100%;
  top: -20px;
}
.listbutton__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.listbutton .listbutton__itemslide {
  width: 27%;
  padding: 8px 10px;
  border-radius: 21px;
  cursor: pointer;
}
.listbutton .listbutton__itemslide:nth-child(n) {
  background-color: rgb(240, 99, 90);
}
.listbutton .listbutton__itemslide:nth-child(2n) {
  background-color: rgb(245, 151, 98);
}
.listbutton .listbutton__itemslide:nth-child(3n) {
  background-color: rgb(41, 214, 151);
}
.listbutton .listbutton__itemslide:nth-child(4n) {
  background-color: rgb(70, 205, 251);
}
.listbutton .listbutton__itemslide em {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 100;
}
.listbutton .listbutton__itemslide .MuiPaper-root {
  position: relative;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.banner {
  background-color: #f9f9fb;
  padding: 29px 24px 0px 24px;
}
.banner .MuiTypography-h3 {
  color: black;
  font-size: 18px;
}
.banner__des {
  color: rgb(72, 77, 112);
  font-size: 13px;
  max-width: 150px;
  line-height: 1.3;
  padding-top: 4px;
  padding-bottom: 4px;
}
.banner__des em {
  font-size: 13px;
}
.banner__card {
  padding-left: 15px;
  max-width: 80%;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.banner__card button {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  background: rgb(0, 248, 255);
  line-height: 1;
  padding-top: 9px;
  font-size: 12px;
}
.banner__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.banner__img img {
  width: 215px;
  position: absolute;
  bottom: -27px;
  right: -18px;
}
.banner__innerbanner {
  background: #d6feff;
  border-radius: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner .layouttextbutton {
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.footerhome {
  position: relative;
}
.footerhome__circle {
  background: rgb(86, 105, 255);
  position: fixed;
  color: white;
  left: 50%;
  cursor: pointer;
  z-index: 99999;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: auto;
  bottom: 40px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerhome__circle svg {
  font-size: 20px;
}
.footerhome__menu {
  background-color: #f9f9fb;
  -webkit-box-shadow: 0px -3px 8px rgba(157, 178, 214, 0.13);
          box-shadow: 0px -3px 8px rgba(157, 178, 214, 0.13);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 3.25rem;
  padding: 20px 10px 20px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}
@media (min-width: 598px) {
  .footerhome__menu {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 376px !important;
    left: 50%;
  }
}
.footerhome__item {
  -webkit-transition: unset !important;
  transition: unset !important;
  padding-top: 0px !important;
}
.footerhome__item.Mui-selected {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerhome__item:nth-child(1), .footerhome__item:nth-child(2) {
  text-align: left;
}
.footerhome__item:nth-child(3), .footerhome__item:nth-child(4) {
  text-align: right;
}
.footerhome__item svg {
  margin: 0 auto;
  font-size: 20px !important;
  min-height: 24px;
  margin-bottom: 5px;
}
.footerhome__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
}
.footerhome__item a em {
  font-size: 13px;
  color: rgb(44, 53, 80);
}
.footerhome .MuiBottomNavigationAction-label {
  font-size: 12px !important;
  color: rgb(44, 53, 80);
  opacity: 1;
  font-style: italic;
}
.footerhome .Mui-selected span, .footerhome .Mui-selected svg, .footerhome .Mui-selected path {
  color: #5669FF;
  fill: #5669FF;
}

.MuiMenuItem-gutters {
  background: transparent !important;
  font-size: 13px !important;
  padding: 0px 10px !important;
  height: 29px !important;
}

.header__top {
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__top svg {
  font-size: 20px;
  color: white;
}
.header__topleft {
  max-width: 10%;
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}
.header__topcenter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.header__topcenter label {
  color: white;
  font-size: 13px !important;
  font-style: italic;
}
.header__topcenter .MuiSelect-select {
  font-size: 13px;
  color: white;
  width: 200px;
}
.header__topcenter fieldset {
  border: unset;
}
.header__topright {
  max-width: 30px;
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  border-radius: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.header__search {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  margin-top: 10px;
}
.header__search .line {
  border-color: rgb(121, 116, 231);
  height: 20px;
}
.header__search form {
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.header__search form input {
  color: white;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.header__search form input::-webkit-input-placeholder {
  font-weight: 100;
  font-style: italic;
}
.header__search form input::-moz-placeholder {
  font-weight: 100;
  font-style: italic;
}
.header__search form input:-ms-input-placeholder {
  font-weight: 100;
  font-style: italic;
}
.header__search form input::-ms-input-placeholder {
  font-weight: 100;
  font-style: italic;
}
.header__search form input::placeholder {
  font-weight: 100;
  font-style: italic;
}
.header__search form input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.header__search .iconsearch {
  color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.header__search .iconsearch svg {
  font-size: 20px;
}
.header__address {
  font-size: 13px;
  text-align: center;
  margin-left: -14px;
}
.header__selectaddress {
  color: white !important;
  padding: 0px !important;
  font-style: italic;
  font-weight: 100 !important;
  font-size: 12px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0px;
  text-transform: initial !important;
}
.header__selectaddress span {
  color: #FFFFFF;
  opacity: 0.7;
}
.header__selectaddress .MuiButton-endIcon {
  display: unset;
  margin-right: 0px !important;
  margin-left: 0px !important;
  opacity: 1 !important;
  line-height: 0;
}
.header__dialog {
  text-align: center;
}
.header__dialog .MuiPaper-root {
  padding: 20px 20px;
  max-height: calc(100% - 33px);
}
.header__dialog img {
  width: 100px;
  margin: 0 auto;
}
.header__dialogcontent {
  color: #747688;
  font-style: italic;
}
.header__dialogtitle {
  color: black !important;
  font-size: 22px !important;
  line-height: 34px;
  padding-bottom: 0px !important;
}
.header__button {
  background: #5669FF !important;
  -webkit-box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
          box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
  border-radius: 8px;
  color: white !important;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 17px;
}
.header__searchright {
  background: rgb(93, 86, 243);
  border-radius: 50px;
  padding: 5px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(93, 86, 243);
  border-radius: 50px;
  padding: 5px 5px;
  flex: 1;
  display: flex;
  align-items: center;
}
.header__searchright span:last-child {
  font-style: italic;
  font-size: 12px;
  margin-left: 5px;
}
.header__searchleft {
  max-width: 77%;
  -ms-flex-preferred-size: 77%;
      flex-basis: 77%;
}
.header__home {
  width: 100%;
  height: 130px;
  padding-top: 10px;
  background: #4A43EC;
  border-radius: 0px 0px 33px 33px;
}
.header__avatar {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding-left: 30px;
  margin-top: 45px;
}
.header__avatar img {
  border-radius: 100%;
}
.header__imgavatar {
  margin-bottom: 9px;
}
.header__menuclick span {
  display: none;
}
.header__menubottom button {
  margin-top: 30px;
  margin-left: 30px;
  background: rgba(0, 248, 255, 0.2);
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-radius: 8px;
  color: rgb(0, 248, 255);
}
.header__name {
  font-size: 19px !important;
  font-weight: 500 !important;
}
.header__menu .MuiDrawer-paper {
  background-color: #fff;
  width: 80%;
}
.header__menuitem {
  margin-bottom: 0px;
}
.header__menuitem a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
}
.header__menuitem svg {
  margin-right: 16px;
  font-size: 20px;
}

.event--tablist {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 30px;
  background-color: #f9f9fb;
}
.event--tablist .event__vertical .event__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.event--tablist .event__vertical .event__img {
  max-width: 100px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  height: 100px !important;
}
.event--tablist .event__vertical .event .MuiTypography-h3 {
  font-size: 15px;
}
.event--tablist .event__vertical .event__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 18px;
}
.event--tablist .event__vertical .event__datetext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0px;
}
.event--tablist .event__vertical .event__inconbox {
  padding-top: 0px;
  padding-bottom: 0px;
}
.event--tablist .event__blog {
  padding-left: 0px;
}
.event--tablist .event__card {
  -webkit-box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.12);
          box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.12);
  border-radius: 14px;
  margin-bottom: 16px;
  padding: 9px;
}
.event--tablist .event__img {
  height: 120px;
}
.event--tablist .event__numbericonbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event--tablist .event__inconbox {
  color: rgb(235, 87, 87);
}
.event--tablist .event__location {
  margin-bottom: 10px;
  margin-top: 0px;
}
.event--tablist .event__datetext {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-transform: uppercase;
  color: #5669FF;
  margin-top: 12px;
}
.event--tablist .event__title {
  padding: 8px 0px;
}
.event--tablist .event__tabsname .MuiTabs-flexContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.0287096);
  border-radius: 100px;
  padding: 5px;
}
.event--tablist .event__tabsname .MuiTabs-indicator {
  background-color: transparent;
}
.event--tablist .event__tabsname button {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-style: italic;
  font-weight: 100;
  font-size: 15px !important;
  text-transform: initial;
  padding: 5px 5px;
  min-height: 35px;
}
.event--tablist .event__tabsname button.Mui-selected {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px !important;
  color: #5669FF;
  background: #FFFFFF;
}
.event--tablist .layouttextbutton {
  padding-right: 0px;
}
.event--tablist .layouttextbutton__text {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event--tablist .layouttextbutton__text svg {
  margin-right: 10px;
  font-size: 20px;
}
.event--tablist .layouttextbutton__button svg {
  font-size: 20px;
  color: black;
}

.mapview {
  position: relative;
}
.mapview iframe {
  width: 100%;
  height: 100vh;
}

.profiletitle {
  background-color: white;
}

.listbutton--profile {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profileedit__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profileedit__avatarmain {
  width: 98px !important;
  height: 98px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.profileedit__aboutus {
  color: black;
}
.profileedit__aboutus h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: black;
}
.profileedit__des {
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}
.profileedit__itemform {
  width: 100% !important;
}
.profileedit__itemform .MuiOutlinedInput-root {
  border-radius: 12px;
}
.profileedit__itemform input:-internal-autofill-selected {
  background-color: white !important;
}
.profileedit__form {
  padding: 0px 20px;
}
.profileedit__form label {
  color: #747688 !important;
  font-weight: 100;
  font-size: 14px;
  position: unset;
  left: 0;
  margin-left: -15px !important;
  margin-bottom: 20px !important;
}
.profileedit__form input {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  width: 100% !important;
  height: 60px;
  color: #040415;
  padding-left: 16px;
  font-style: italic;
  border-radius: 12px;
}
.profileedit__form .button {
  background: #5669FF;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
          box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding: 13px 20px;
}
.profileedit__form .button .MuiButton-endIcon {
  position: absolute;
  right: 10px;
  background: #3D56F0;
  border-radius: 100%;
  padding: 3px;
}
.profileedit__listbutton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 21px;
}
.profileedit__listbutton button {
  border-radius: 10px;
  font-style: italic;
  font-weight: 100;
  padding: 13px 30px;
  font-size: 16px;
  text-transform: inherit;
}
.profileedit__listbutton button:nth-child(1) {
  background: #5669FF;
}
.profileedit__listbutton button:nth-child(2) {
  border: 1.5px solid #5669FF;
  color: #5669FF;
}

.profileedit__numberperson {
  position: relative;
  overflow: hidden;
  color: #120D26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.profileedit__numberperson::after {
  content: "";
  height: 30px;
  width: 1px;
  background-color: #DDDDDD;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.profileedit__numberpersonitem {
  padding: 0px 10px;
}
.profileedit__person {
  color: #747688;
  font-style: italic;
  font-weight: 100;
  margin-top: 5px;
}

.login__avatar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}
.login__avatar h2 {
  color: #37364A;
  font-weight: 500;
  font-size: 35px;
  margin-top: 15px;
}

.login__footer {
  color: black;
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.login__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #9D9898;
  text-align: center;
  margin-bottom: 15px;
}
.login__signwithgg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 270px;
  position: relative;
}
.login__signwithgg::before {
  content: "";
  background: conic-gradient(from 180deg at 50% 50%, #B9DAFB 0deg, #ECACAD 95.99deg, #9895EE 206.25deg, #90A2F8 292.5deg, #C55492 360deg);
  opacity: 0.2;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 349px;
  height: 322px;
  position: absolute;
  left: -140px;
}
.login__signwithgg a {
  padding: 12px 16px 12px 42px;
  border: none;
  background: #FFFFFF;
  margin-bottom: 15px;
  -webkit-box-shadow: 15px 0px 30px rgba(211, 212, 226, 0.25);
          box-shadow: 15px 0px 30px rgba(211, 212, 226, 0.25);
  border-radius: 12px;
  color: #120D26;
  font-style: italic;
  text-transform: initial !important;
  font-weight: 100;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: 23px 16px;
}
.login__google {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=) !important;
}
.login__facebook {
  background-image: url("../img/fb.png") !important;
  background-position: 16px 10px !important;
}

.loginform__button {
  margin: 0px !important;
}
.loginform__itemform .MuiInput-root {
  border: 1px solid #c4c4c4 !important;
  border-radius: 12px !important;
  padding-left: 15px !important;
  padding-right: 16px;
}
.loginform__itemform .MuiInput-root:before, .loginform__itemform .MuiInput-root:after {
  border-bottom: unset !important;
}
.loginform__itemform svg {
  font-size: 25px;
}
.loginform__itemform input {
  padding-left: 0px;
}
.loginform__itemform input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.loginform__title {
  color: black;
  margin-bottom: 15px !important;
}
.loginform__subtitle {
  font-style: italic;
  font-weight: 100;
  font-size: 15px;
  display: inherit;
  line-height: 25px;
  color: #120D26 !important;
  margin-bottom: 15px !important;
}
.loginform__number {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loginform__numberinput {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.loginform__numberinput input {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 26px;
  font-style: inherit;
}
.loginform__numberinput input::-webkit-input-placeholder {
  font-size: 30px;
}
.loginform__numberinput input::-moz-placeholder {
  font-size: 30px;
}
.loginform__numberinput input:-ms-input-placeholder {
  font-size: 30px;
}
.loginform__numberinput input::-ms-input-placeholder {
  font-size: 30px;
}
.loginform__numberinput input::placeholder {
  font-size: 30px;
}

.searchmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 4px;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: transparent !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding: 0px 15px;
}
.searchmap__left {
  max-width: 90%;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
          box-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
  border-radius: 12px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchmap__left svg {
  font-size: 30px;
}
.searchmap__input {
  margin-left: 0px;
}
.searchmap input {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 5px 5px;
}
.searchmap input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.searchmap__iconend {
  background: white;
  border-radius: 12px;
  padding: 13px 13px;
  margin-left: 10px;
}

.mapview __button {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.selectinterest {
  padding-top: 50px;
  padding-left: 23px;
  padding-right: 20px;
  position: relative;
}
.selectinterest__title {
  font-weight: 700 !important;
  font-size: 32px !important;
  line-height: 35px !important;
  color: #120d26 !important;
  margin-bottom: 27px !important;
}
.selectinterest__subtitle {
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 20px !important;
  color: #747688 !important;
  margin-bottom: 28px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.selectinterest__titleicon {
  font-weight: 500;
  font-size: 16px !important;
  line-height: 17px;
  color: black !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px !important;
}
.selectinterest__titleicon svg {
  margin-right: 12px !important;
}
.selectinterest__listbutton {
  height: auto !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  margin-bottom: 29px !important;
}
.selectinterest__listbutton button {
  background: #ffffff;
  -webkit-box-shadow: 0px 2.14512px 4.29025px rgba(173, 175, 187, 0.3);
          box-shadow: 0px 2.14512px 4.29025px rgba(173, 175, 187, 0.3);
  border-radius: 107.256px !important;
  padding: 7px 15px;
  -webkit-box-flex: initial !important;
      -ms-flex: initial !important;
          flex: initial !important;
  margin: 6px 0px;
  margin-right: 14px;
}
.selectinterest__listbutton button span:nth-child(1) {
  color: #120d26 !important;
  font-style: italic;
  font-weight: 100;
  font-size: 16.6136px !important;
  opacity: 1 !important;
}
.selectinterest__listbutton .Mui-selected {
  background: #5669ff;
}
.selectinterest__listbutton .Mui-selected span:nth-child(2) {
  display: none;
}
.selectinterest__listbutton .Mui-selected span:nth-child(1) {
  font-size: 17px;
  color: white !important;
}
.selectinterest__submit {
  position: fixed !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
  z-index: 999;
}
.selectinterest__submit button {
  background: #5669FF;
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
          box-shadow: 0px 10px 35px rgba(111, 126, 201, 0.25);
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  padding: 13px 20px;
}
.selectinterest__submit .MuiButton-endIcon {
  position: absolute;
  right: 10px;
  background: #3D56F0;
  border-radius: 100%;
  padding: 3px;
}

.addevent {
  padding-top: 36px;
}
.addevent__input {
  padding: 0px 24px;
}
.addevent__input textarea {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.addevent__input textarea:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.addevent__inputtitle {
  width: 100%;
}
.addevent__inputtitle textarea {
  font-style: italic;
  font-weight: 100;
  font-size: 32px;
  line-height: 35px;
}
.addevent__inputtitle textarea::-webkit-input-placeholder {
  color: #a4b4cb !important;
}
.addevent__inputtitle textarea::-moz-placeholder {
  color: #a4b4cb !important;
}
.addevent__inputtitle textarea:-ms-input-placeholder {
  color: #a4b4cb !important;
}
.addevent__inputtitle textarea::-ms-input-placeholder {
  color: #a4b4cb !important;
}
.addevent__inputtitle textarea::placeholder {
  color: #a4b4cb !important;
}
.addevent__inputtitle > div {
  width: 100%;
}
.addevent__inputtitle > div:before, .addevent__inputtitle > div:after {
  border-bottom: unset !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
.addevent__layoutinputdes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addevent__inputdes {
  width: 100%;
}
.addevent__inputdes > div {
  width: 100%;
}
.addevent__inputdes > div:before, .addevent__inputdes > div:after {
  border-bottom: unset;
}
.addevent__inputdes textarea {
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  margin-left: 5px;
  color: #747688;
}
.addevent__layouttextbutton {
  padding-left: 24px;
  padding-right: 24px;
}
.addevent__layouttextbutton button {
  background: #5669ff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  padding: 10px 28px;
}
.addevent__menu .MuiDrawer-paper {
  background-color: #fff;
  width: 80%;
}
.addevent__menuitem {
  margin-bottom: 0px;
}
.addevent__menuitem a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  padding-left: 8px;
}
.addevent__menuitem svg {
  margin-right: 16px;
  font-size: 20px;
}
.addevent__changeimg {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
}
.addevent__changeimg input[type=file] {
  display: none;
}
.addevent__changeimg img {
  width: 100%;
  border-radius: 14px;
}
.addevent__inputchangeimg {
  position: absolute;
  top: 8px;
  right: 35px;
  background: #ffffff;
  opacity: 0.5;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 14px;
}
.addevent__inputchangeimg label:nth-child(2) {
  padding-left: 0px !important;
}
.addevent__inputchangeimg label:nth-child(1) {
  padding-left: 15px;
}
.addevent__inputchangeimg label,
.addevent__inputchangeimg label:hover,
.addevent__inputchangeimg svg {
  border: unset;
  color: #5669ff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
}
.addevent__inputchangeimg svg {
  font-size: 15px;
}
.addevent__title {
  padding: 0px 24px;
  margin-top: 24px;
}
.addevent__title h2 {
  font-style: italic;
  font-weight: 100;
  font-size: 35px;
  line-height: 38px;
  margin-bottom: 33px;
  color: #120d26;
}
.addevent__title p {
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  color: #3c3e56;
}
.addevent__listitem {
  margin-top: 9px !important;
}
.addevent__listitem--invite .invite {
  background: #5669ff;
  color: white;
}
.addevent__listitem--invite .missus {
  background-color: white;
}
.addevent__listitem--invite img {
  width: 45px;
  height: 45px;
}
.addevent__listitem--invite button {
  border-radius: 8px !important;
  border: 1px solid #5669ff;
  font-size: 14px !important;
  text-transform: inherit !important;
  width: 85px;
  padding: 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px !important;
  font-style: italic;
  font-weight: 100;
}
.addevent__listitem--invite button span {
  margin-bottom: 0px;
  margin-right: 0px;
  font-weight: 100;
}
.addevent__listitem--details img {
  width: 44px;
  height: 44px;
}
.addevent__listitem--details .follow {
  border-radius: 7px;
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
  text-transform: inherit;
  padding: 8px;
}
.addevent__listitem--details .followblue {
  color: white;
  background: #5669FF;
}
.addevent__listitem--details .unfollow {
  background: rgba(240, 99, 90, 0.12);
  color: #F0635A;
}
.addevent__listavatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addevent__listavatar button {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.addevent__listavatar svg {
  margin-right: 10px;
}
.addevent__imgavatar,
.addevent .MuiAvatar-colorDefault {
  width: 36px !important;
  height: 36px !important;
}
.addevent .MuiAvatar-colorDefault {
  background: #5e6fff;
  border: 1px solid white;
}
.addevent__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}
.addevent__item--group {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
.addevent__item--group button {
  width: 100px;
}
.addevent__item--block .addevent__imgavatar, .addevent__item--block .MuiAvatar-colorDefault {
  margin: 0px 3px;
  border: initial !important;
}
.addevent__item--block button {
  width: auto;
  border-radius: 7px !important;
  font-size: 12px !important;
  font-weight: 100 !important;
  font-style: italic;
  padding: 8px 5px;
  text-transform: initial !important;
}
.addevent__item .MuiListItemText-multiline {
  margin: 0px;
}
.addevent__item p {
  font-style: italic;
  font-weight: 100;
  font-size: 13px;
  line-height: 14px;
  color: #747688;
}
.addevent__item span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  color: #120d26;
}
.addevent__item button {
  background: #eef0ff;
  -webkit-box-shadow: 0px 8px 20px rgba(74, 210, 228, 0.0818127);
          box-shadow: 0px 8px 20px rgba(74, 210, 228, 0.0818127);
  border-radius: 14px;
  color: #5669ff;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  text-transform: uppercase;
}
.addevent__item button span {
  color: #5669ff;
}
.addevent__formsearch {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding: 0px 24px;
}
.addevent__inputleft {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
          box-shadow: 0px 40px 60px rgba(211, 209, 216, 0.5);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
}
.addevent__inputleft input {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding-left: 30px;
}
.addevent__inputleft input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.addevent__inputleft svg {
  font-size: 30px;
  color: #5669ff;
}
.addevent__inputsearch {
  width: 100%;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 5px 5px;
}
.addevent__inputsearch:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.addevent--details {
  padding-top: 0px !important;
}
.addevent__listimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addevent__listimg .event__avatar {
  width: 34px !important;
  height: 34px !important;
}
.addevent__listimg .event__number span {
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 16px;
  color: #3F38DD;
}
.addevent__listimg button {
  background: #5669FF;
  color: white;
  font-style: italic;
  font-weight: 100;
  border-radius: 7px;
  text-transform: inherit;
  font-size: 12px;
}
.addevent__note {
  padding: 0px 24px;
}
.addevent__note h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  opacity: 0.84;
  color: #120D26;
}
.addevent__note p {
  font-style: italic;
  font-weight: 100;
  font-size: 16px;
  line-height: 28px;
  color: #120D26;
}
.addevent__bannereventdetails {
  position: relative;
}
.addevent__bannereventdetails .addevent__listimg {
  position: absolute;
  bottom: -16px;
  background: white;
  border-radius: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 89%;
  padding: 13px 14px;
  -webkit-box-shadow: 0px 20px 20px rgba(90, 90, 90, 0.1);
          box-shadow: 0px 20px 20px rgba(90, 90, 90, 0.1);
}
.addevent__bannereventdetails .addevent__listicon {
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}
.addevent__bannereventdetails .addevent__itemicon p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.addevent__bannereventdetails .addevent__layouttextbutton {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 15px;
}
.addevent__bannereventdetails .addevent__layouttextbutton .layouttextbutton__text {
  color: white;
}
.addevent__bannereventdetails .addevent__layouttextbutton .layouttextbutton__text svg {
  margin-right: 10px;
}
.addevent__bannereventdetails .addevent__layouttextbutton .layouttextbutton__button {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8.15485px);
          backdrop-filter: blur(8.15485px);
  padding: 5px;
  border-radius: 10px;
}
.addevent__bannereventdetails .addevent__layouttextbutton .layouttextbutton__button svg {
  color: white;
}
.addevent__bannereventdetails .addevent__changeimg {
  padding: 0px !important;
}
.addevent--eventpreview {
  position: relative;
}
.addevent__bannereventpreview {
  position: absolute;
  top: 250px;
  color: white;
  padding: 0px 24px;
}
.addevent__bannereventpreview .addevent__imgavatar, .addevent__bannereventpreview .MuiAvatar-colorDefault {
  margin: 0px 8px;
  border: unset !important;
}
.addevent__bannereventpreview span, .addevent__bannereventpreview p, .addevent__bannereventpreview h1 {
  color: white;
}
.addevent__bannereventpreview span {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
}
.addevent__bannereventpreview h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
}
.addevent__bannereventpreview p {
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
}

html, body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  color: white;
  font: inherit;
  font-family: "Archivo";
  margin: 0 auto;
}

h1 {
  font-family: "Archivo";
  color: #15d880;
  font-size: 2.5rem;
  font-weight: 100;
}

h2 {
  font-family: "Archivo";
  color: #15d880;
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  color: white;
}

.msg {
  background-color: #4f6877;
  display: block;
  padding: 20px 20px 20px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 400px;
  margin: 0 auto;
}

.product-section {
  padding: 10px 0 0 15px;
}

.btn {
  font-family: "Archivo";
  background: none;
  font-size: 1.3rem; /* width: 213px; */
  border: 0;
  padding: 5px 15px;
  margin: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header {
  font-family: "Archivo";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(88, 88, 88);
}

header > div {
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.primary {
  background-color: blue;
}

a:-webkit-any-link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

ul li {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

li ul {
  display: none;
  background-color: rgb(44, 44, 44);
  -webkit-animation: bounceInDown 0.5s both;
          animation: bounceInDown 0.5s both;
}

ul li ul li {
  display: block;
  text-decoration: none;
  padding: 5px;
  white-space: nowrap;
}

li:hover ul {
  display: block;
  position: absolute;
}

a, span, div, p, input, button {
  font-family: "Archivo";
}

/***************************/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: 100% !important;
  position: relative;
  overflow: hidden;
}
@media (min-width: 598px) {
  .MuiContainer-root {
    max-width: 376px !important;
  }
}